html, body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: lightblue;
}

canvas {
  display: block;
}

#canvas-container {
  margin: 2% auto 2% auto;
}

pre {
  color: white; 
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 auto;
}